:root {
  --slate-gray: hsla(194, 15%, 51%, 1);
  --silver: hsla(204, 3%, 68%, 1);
  --dark-moss-green: hsla(80, 40%, 21%, 1);
  --light-moss-green: rgb(96, 131, 67);
  --timberwolf: hsla(37, 16%, 85%, 1);
  --timberwolf-trans: hsla(37, 16%, 85%, .85);
  --licorice: hsla(9, 11%, 12%, 1);
}

@font-face {
  font-family: 'allisonregular';
  src: url('./fonts/allison-webfont.woff2') format('woff2'),
       url('./fonts/allison-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: auto;
  display: grid;
  grid-template-rows: 7rem 1fr;
}

header{
  display: grid;
  grid-row: 1 / 2;
  background-color: var(--dark-moss-green);
  color: var(--timberwolf);
  align-content: center;
  position: fixed;
  width: 100%;
  height: 7rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav img {
  grid-row: 1 / -1;
  justify-self: center;
  align-self: center;
  width: 20rem;
  height: auto;
  margin-bottom: 1rem;
}

.button-wrapper {
  display: grid;
  grid-row: 1 / -1;
  grid-auto-flow: column;
  gap: 5rem;
  margin-right: 2rem;
}

button {
  background-color: var(--dark-moss-green);
  color: var(--timberwolf);
  border: none;
  font-size: 2rem;
  align-self: center;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  text-shadow: -1px -1px 0 var(--timberwolf); /* Add this line */
}

#mainbg {
  grid-row: 2 / 3;
  background-image: url('content-background.jpg');
  background-size: cover;
  background-position: center;
  color: var(--licorice);
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 4rem 1fr 4rem;
}

.content {
  background-color: var(--timberwolf-trans);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-radius: 1rem;
  display: flex; /* Change this line */
  flex-direction: column; /* Add this line */
  justify-content: flex-start; /* Change this line */
  align-items: center; /* Add this line */
  overflow: auto; /* Add this line */
  padding: 1rem; /* Add this line */
}

.card {
  background-color: var(--light-moss-green);
  margin: 2rem 0;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--timberwolf);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  width: 100%; /* Add this line */
  min-width: 500px;
  min-height: 200px;
  max-width: 800px; /* Add this line */
}

.card h2{
  font-family: 'allisonregular';
  font-size: 3rem;
  align-self: flex-start;
  margin-left: 2rem;
}

.review p {
  max-width: 75%;
  font-size: 1.3rem;
  margin-top: -1rem;
  margin-bottom: -1.3rem;
}

.review {
  justify-content: baseline;
  gap: 2rem;
}

.hours {
  margin: 0;
  gap: .6rem;
}

.location {
  gap: .5rem;
}